# Local .terraform directories

**/.terraform/*

# .tfstate files

*.tfstate
*.tfstate.*

# Override files

override.tf
override.tf.json
*_override.tf
*_override.tf.json

# lock.hcl files

*.terraform.lock.hcl
*.terraform.lock.*